<div class="games" >
  <div>
    <h2>GAMES</h2>
  </div>
<br/>
  
    <div class="card-container">
      <a *ngFor="let p of producto">
        <div >
          <div class="card mb-3">
            <img src="https://as.com/meristation/imagenes/2020/11/11/noticias/1605088151_378581_1605088347_noticia_normal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{p.nombre}}</h5>
              <p class="card-text">Año</p>
              <p class="card-text">Genero</p>
              <p class="card-text">Descripcion</p>
            </div>
          </div>

        </div>
      
      </a>

    </div>

    <br/>


    <div class=" card-container ml-3">
      <div class=" card ">
        <h5 class="card-title  mt-3">NUEVO VIDEOJUEGO</h5>
      <form class="FormDefault row g-3" [formGroup]="myFormProducto" (ngSubmit)="ingresarProducto" >
      <div class="form-group  col-md-6 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Nombre" formControlName="nombreF" > 
      </div>
      <div class="form-group pr-5 col-md-6 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Año" formControlName="nombreF" > 
      </div>
      <div class="form-group pt-4 col-md-12 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Año" formControlName="nombreF" > 
      </div>
      <div class="form-group pt-4 col-md-6" > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Año" formControlName="nombreF" > 
      </div>
      <div class="form-group pt-4 col-md-6" > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Año" formControlName="nombreF" > 
      </div>

      <br/>
      <div class="col-12">
        <button type="submit" class="buttonDefault btn btn-primary btn-lg btn-block" >Registrar</button>
      </div>
      

    </form>
  </div>
  </div>
    <br/>
    <br/>
    <br/>
  </div>