<div>
    <br/>
<br/>
    <div className="textDefault" span={9}>
        <p className="TitleDefault">ESTO ES ARTE</p>
        <p>
          Las grandes obras de la literatura o el cine no se crearon siempre con la idea de fabricar un objeto artístico. Muchas veces los autores querían simplemente entretener, pero la crítica y el público, el contexto en general, acabaron situando esas obras en la categoría de arte. Con los videojuegos está ocurriendo algo parecido
        </p></div>

    <div className="textDefault" span={18} offset={3}>
        <p className="TitleDefault">DIVIERTETE</p>
        <p>
          El mundo del videojuego, motor del cambio tecnológico, tiene unas características propias que lo definen y lo separan del resto de disciplinas artísticas. Es un medio en pañales, en el que todavía tiene un gran peso la experimentación. Sin embargo, hay un elemento único que lo separa del componente narrativo del cine o la literatura y le dota de originalidad: la interacción. “Hay videojuegos que pueden alcanzar la categoría artística por su narrativa, que puede estar a la altura de la mejor película”, comenta Morla. “Pero ese no es el camino que tiene que fundar el videojuego. Este medio tiene que narrar desde las propias mecánicas del juego para que te haga participe. Es decir, no ver tanto el cuadro como ser tú mismo el cuadro. Esa es la forma de arte que solo puede proporcionar el videojuego”.
        </p></div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://imagenes.20minutos.es/files/article_amp/uploads/2020/04/28/cine-peliculas-estreno-plataformas-streaming-00.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">PELICULAS</h5>
                <p class="card-text">El cine se considera como séptimo arte, Sin embargo, el cine como arte no se encuentra aislado. **Cuando vemos una película no visualizamos un único producto**, sino la unión de diversos elementos que se plasman en una obra. La persona encargada de dirigir un largometraje no solo debe tener en cuenta uno de estos elementos, de lo contrario, el resultado puede ser insatisfactorio o desequilibrado. Por lo tanto, comparemos el cine con el resto de artes para comprobar qué aporta en cada una de ellas.</p>
                <p class="card-text"><small class="text-muted">MOVIES</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://as.com/meristation/imagenes/2020/04/17/reportajes/1587152675_380766_1587152733_noticia_normal.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">VIDEOJUEGOS</h5>
                <p class="card-text">Está claro que el videojuego tiene potencial para ser arte porque puede trasmitir sensaciones e ideas al consumidor o al jugador, le puede proponer mundos. Pero es necesario que haya detrás de todo eso un artista que quiera contar algo concreto</p>
                <p class="card-text"><small class="text-muted">GAMES</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://as.com/meristation/imagenes/2019/01/08/reportajes/1546933662_826942_1546935400_noticia_normal.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 ">
              <div class="card-body">
                <h5 class="card-title">ANIME</h5>
                <p class="card-text">El anime es una forma de arte diversa con métodos de producción y técnicas distintivos que se han adaptado con el tiempo en respuesta a las tecnologías emergentes. Consiste en un mecanismo ideal para contar historias, que combina arte gráfico, caracterización, cinematografía y otras formas de técnicas imaginativas e individualistas</p>
                <p class="card-text"><small class="text-muted">ANIME</small></p>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
</div>
