<div class="movies" >
    <div>
      <h2>Peliculas</h2>
    </div>
  <br/>
  
    <div class="card-container">
      <a *ngFor="let c of categorias ">
        <div >
          <div class="card mb-3">
            <img src={{c.imagen}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{c.nombre}}</h5>

                <p class="card-text">{{c.director}}</p>
                <p class="card-text">{{c.actores}}</p>
                <p class="card-text">{{c.anio}}</p>
                <p class="card-text">{{c.descripcion}}</p>
                <p class="card-text"><button type="submit" class="buttonDefault btn btn-primary btn-lg btn-block" (click)="eliminarCategoria(c.idPelicula)">ELIMINAR</button></p>
            </div>
            
            <div class=" card-container ml-3">
              <div class=" card ">
                <h5 class="card-title  mt-3">EDITAR PELICULA</h5>
              <form class="FormDefault row g-3" [formGroup]="myFormCategoria" (ngSubmit)="editarCategoria(c.idPelicula)" >
                <div class="form-group  col-md-6 " > 
                  <input type="text" class="form-control" id ="formGroupExampleInput" 
                  placeholder="{{c.nombre}}"  formControlName="nombreF" > 
                </div>
              <div class="form-group pr-5 col-md-6 " > 
                <input type="text" class="form-control" id ="formGroupExampleInput" 
                placeholder="{{c.director}}" formControlName="directorF" > 
              </div>
              <div class="form-group pt-4 col-md-12 " > 
                <input type="text" class="form-control" id ="formGroupExampleInput" 
                placeholder="{{c.imagen}}" formControlName="imagenF" > 
              </div>
              <div class="form-group pt-4 col-md-6" > 
                <input type="text" class="form-control" id ="formGroupExampleInput" 
                placeholder="{{c.actores}}" formControlName="actoresF" > 
              </div>
              <div class="form-group pt-4 col-md-6" > 
                <input type="text" class="form-control" id ="formGroupExampleInput" 
                placeholder="{{c.anio}}" formControlName="anioF" > 
              </div><div class="form-group pt-4 col-md-12" > 
                <textarea class="form-control" placeholder="{{c.descripcion}}" formControlName="descripcionF" id="floatingTextarea"></textarea>
         
              </div>
              <br/>
              <div class="col-12">
                <button type="submit" class="buttonDefault btn btn-primary btn-lg btn-block" >EDITAR</button>
              </div>
              
        
            </form>
          </div>
          </div>
          </div>

        </div>
      
      </a>
  

    </div>
  
    <br/>
    <div class=" card-container ml-3">
      <div class=" card ">
        <h5 class="card-title  mt-3">NUEVA PELICULA</h5>
      <form class="FormDefault row g-3" [formGroup]="myFormCategoria" (ngSubmit)="ingresarCategoria()" >
      <div class="form-group  col-md-6 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Nombre" formControlName="nombreF" > 
      </div>
      <div class="form-group pr-5 col-md-6 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Director" formControlName="directorF" > 
      </div>
      <div class="form-group pt-4 col-md-12 " > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="URL de la Imagen" formControlName="imagenF" > 
      </div>
      <div class="form-group pt-4 col-md-6" > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Actores" formControlName="actoresF" > 
      </div>
      <div class="form-group pt-4 col-md-6" > 
        <input type="text" class="form-control" id ="formGroupExampleInput" 
        placeholder="Año" formControlName="anioF" > 
      </div><div class="form-group pt-4 col-md-12" > 
        <textarea class="form-control" placeholder="Descripcion" formControlName="descripcionF" id="floatingTextarea"></textarea>
 
      </div>

      <br/>
      <div class="col-12">
        <button type="submit" class="buttonDefault btn btn-primary btn-lg btn-block" >Registrar</button>
      </div>
      

    </form>
  </div>
  </div>
    <br/>
    <br/>
    <br/>
  </div>